<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Aula_20_07_13/src/Aula_20_07_13/CalculoSalario.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Aula_20_07_13.CalculoSalario"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aula_20_07_13"/>
</launchConfiguration>
